<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand glyphicon glyphicon-gift">SetGame</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_path %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><span class="glyphicon glyphicon-user"></span> <%= current_user.email %></a></li>
      <li>
        <%= link_to '<span class="glyphicon glyphicon-log-out"></span> Sign out'.html_safe, destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>
